.fullscreen iframe {
    width: 100%;
    height: 96%;
    max-width: 100% !important;
    max-height: 100% !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 { text-transform: none; font-family: "Antic Slab", Georgia, serif; }

.reveal h1 { text-shadow: none; font-size: 2em; letter-spacing: -0.04em; }
.reveal h2 { letter-spacing: -0.04em; line-height: 1.2; font-size: 1.5em}
.reveal h2.bigger { font-size: 2.8em; }
.reveal h5 { text-transform: none; }
.reveal section img.two-sidebyside { float: left; margin-right: 20px; max-width: 400px; }
.reveal section img.no-shadow { box-shadow: none; }
.green { color: #00b29e; }
.brown { color: #c7c2a0; }
.reveal h2.lowercase, .reveal h3.lowercase { text-transform: none; }

.reveal .slides {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

.reveal .slides>section {
    padding: 0px 10% 0 10%;
    box-sizing: border-box;
}

.reveal .slides>section.fullscreen {
    height: 100%;
    padding: 0;
    top: -50% !important;
    background-color: black;
}

.reveal blockquote {
    border: none;
    box-shadow: none;
    font-size: 44px;
    line-height: 1.4;
}

.reveal section img {
    border: none;
}

p, li {
    line-height: 1.5 !important;
}

ul, p {
    margin-top: 30px !important;
}

.reveal .roll {

    display: inline-block;
    line-height: 1.2;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 0px;
    
}
 
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.reveal pre code {
    line-height: 28px;
    margin-top: 40px;
    padding: 30px;
}

.fullscreen iframe {
    width: 100%;
    height: 96%;
    max-width: 100% !important;
    max-height: 100% !important;
}

.reveal .slides {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

.reveal .slides>section {
    padding: 0px 20% 0 20%;
    box-sizing: border-box;
}

.reveal .slides>section.fullscreen {
    height: 100%;
    padding: 0;
    top: -50% !important;
    background-color: black;
}